{% extends "layout.html" %}

        {% block main %}
        <section>
            <div class="text-center py-4">
                <h1 class="display-5 fw-bold text-dark mb-3">The Data Pipeline</h1>
                <p class="lead text-muted">An automated workflow from image recongnition to data insghts.</p>
            </div>
            <div class="row g-4 text-center">
                <div class="col-md-3"><div class="card h-100 p-3 shadow-sm"><div class="card-body"><strong>1. Video input</strong><p class="small text-muted">Video is captured by local webcam.</p></div></div></div>
                <div class="col-md-3"><div class="card h-100 p-3 shadow-sm"><div class="card-body"><strong>2. Process</strong><p class="small text-muted">Image recognition model captures when a new Muni arrived at local stop.</p></div></div></div>
                <div class="col-md-3"><div class="card h-100 p-3 shadow-sm"><div class="card-body"><strong>3. Store</strong><p class="small text-muted">Results are parsed and streamed into a SQLite database.</p></div></div></div>
                 <div class="col-md-3"><div class="card h-100 p-3 shadow-sm"><div class="card-body"><strong>4. Data processing / Predications</strong><p class="small text-muted">Forcast is provided based trained data.</p></div></div></div>
                <div class="col-md-3"><div class="card h-100 p-3 shadow-sm"><div class="card-body"><strong>5. Visualize</strong><p class="small text-muted">Data is made available only through Fldddddask / HTML.</p></div></div></div>
            </div>
        </section>
        {% endblock %}
   